@tailwind base;

/* bottom tab for small devices */
.bottomOption {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 1px 1px;
}

.bottomOption > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8d8d8d;
  transition: color 0.3s ease;
  cursor: pointer;
}

.bottomOption > div:hover {
  color: #ff0000; /* Red */
}

.bottomOption > div.active {
  color: #87ceeb; /* Sky Blue */
}

.bottomOption > div > span {
  font-size: 14px;
  margin-top: 120px;
  margin-right: 20px;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid #3957db;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
}

.icon {
  display: flex;
}
.support form span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.support form input:focus ~ span,
.support form input:valid ~ span,
.support form textarea:focus ~ span,
.support form textarea:valid ~ span {
  color: #3bb77e;
  font-size: 12px;
  transform: translateY(-17px);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0;
}

.removeScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

/* Customize scrollbar thumb */
.removeScrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 0;
  display: none;
}
/* Minimize scrollbar size */
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.disableStyles ol {
  list-style: decimal;
  margin: 0 0 0 10px;
  padding: 3px 10px 10px 10px;
}
.disableStyles ul {
  list-style: circle;
  margin: 0 0 0 10px;
  padding: 3px 10px 10px 10px;
}
.disableStyles h1 {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #75787c !important;
}
.disableStyles h2 {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #75787c !important;
}
.disableStyles h3 {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #75787c !important;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust the desired height */
  width: 100%; /* Adjust the desired width */
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@tailwind components;
@tailwind utilities;

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f6f6f5;
  scroll-behavior: smooth;
}
input,
select {
  outline: none;
}
.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.categoryCard::-webkit-scrollbar {
  display: none;
}
.categoryCard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categoryCard {
  border-radius: 5px;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  margin: 0 !important;
  max-width: 100%;
  overflow: auto;
  position: relative;
  white-space: nowrap;
  width: 100vw !important;
  position: relative !important;
}
.scrollDivScroll {
  position: relative;
}
.categoryCardDetails {
  display: block;
  border: 0 solid #c4bebe;
  margin: 0 12px;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
}
.categoryCardDetails h5 {
  width: 180px;
}
.categoryCardDetails img {
  width: 167px;
  height: 100px;
}
/* scroll styling */
.rightScroll,
.leftScroll {
  position: absolute !important;
  z-index: 9;
  top: 37%;
  border: 1px solid #eee;
  border-radius: 50%;
  background: #eee;
  color: #000;
  cursor: pointer;
}
.leftScroll {
  right: 45px !important;
}
.rightScroll {
  left: 45px !important;
}

/* terms */
.policy {
  background-color: white;
  padding: 30px;
}
.policy ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.policy ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
.policy ol > li > p {
  font-weight: bold;
  color: #f0c040;
  text-decoration: underline;
}

.policy ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.policy li ol > li {
  margin: 0;
}

.policy li ol > li:before {
  content: counters(item, ".") " ";
}
.bold {
  font-weight: bold;
  text-align: center;
  color: #f0c040;
}
.italic {
  font-weight: bold;
  text-decoration: underline;
  color: #f0c040;
}
/* /// */
/* componets that appears on top of others to appear smoothly */
.appear__smoothly {
  animation-name: appear-smoothly-animation;
  animation-duration: 0.5s;
}

@keyframes appear-smoothly-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* bottom tab */
.navigation {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation ul li {
  flex: 1;
  height: 100%;
}

.navigation ul li a {
  text-decoration: none;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation ul li a .icon {
  background: #fff;
  width: 55px;
  height: 55px;
  line-height: 65px;
  border-radius: 65px;
  color: #222327;
  font-size: 1.5em;
  transition: 0.5s;
}

.navigation ul li.active a .icon {
  background: var(--clr);
  color: #fff;
  transform: translateY(-27px);
}
